.container{
    padding: 5%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    width: 70%;
}

.role{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    & p{
        margin-bottom: 8px;
    }

    & .itens{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    & input[type="radio"]{
        display: none;
    }

    & .item{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .item label{
        border: 1px solid #d1d5db;
        border-radius: 8px;
        font-family: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    & .item input[type="radio"]:checked + label{
        background-color: var(--button-color);
        color: white;
        border-color: #007bff;
        border-radius: 8px;
    }
}

.error, .successful {
    max-width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.error{
    background-color: #ffebeb;
    color: #cc0000;
    border: 1px solid #cc0000;
}
.error-hidden {
    opacity: 0;
}

.successful {
    background-color: #e8fae7;
    color: #007022;
    border: 1px solid #007022;
}
.successful-hidden {
    opacity: 0;
}