.container{
    padding: 5%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.role{
    display: flex;
    flex-direction: column;
    gap: 30px;

    & input[type="radio"]{
        display: none;
    }

    & .item{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .item label{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    & .item input[type="radio"]:checked + label{
        background-color: var(background-color);
        color: white;
        border-color: #007bff;
    }
}
