.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15svh;
    width: 100%;
    background-color: #0051a0;
    color: white;
    padding: 5%;
    position: relative;
}

.info{
    font-weight: lighter;

    & span{
        font-weight: 800;
    }
}

.botaoMenu{

    & button{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0051a0;
    }

    & img{
        width: 2.5rem;
        cursor: pointer;
    }
}

.menu{
    position: fixed;
    top: 15svh;
    left: 0;
    height: 85svh;
    width: 100%;
    background-color: white;
    color: black;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all ease-in-out 0.3s;
    z-index: 10;

    & .item{
        padding: 10px;
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        cursor: pointer;
    }

}

.menu.visible{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}